@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

body {
  min-height: 1000px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
  background: #001d44;
}
header.sticky {
  padding: 5px 100px;
  background: #000;
  border-bottom: 1 px solid rgb(0, 0, 0);
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  justify-content: center;
  font-size: medium;
}

.imagen1 {
  width: 200px;
  height: auto;
  position: relative;
  padding: 10px;
}

.imagen2 {
  width: 130x;
  height: 130px;
  position: relative;
  top: 1px;
}

.sec {
  top: 130px;
  width:auto;
  margin: 0;
  height: 150vh;
  background-color: #0973ec; 
  background-size:cover;
  background-position: center;
  position: relative;
}
.sec h1{
  font-size: 25px;
  top: 20px;
  position: relative;
  padding: 20px;
  color:#fff;
}
.productos-containerbx {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: auto;
}
.producto {
  flex: 1 1 calc(19% - 50px); /* Ajusta el ancho según el tamaño de pantalla */
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.producto:hover {
  transform: scale(1.05);
  background-color: #efd808;
}

.imagenicon {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.sec h3{
  justify-items: center;
  text-align: center;
}

@media (max-width: 992px){
  .toggle{
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor:pointer;
  }

  .toggle::before{
    content:'';
    position: absolute;
    top:4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 10px 0 #fff;
    transition: 0.5s;
  }

  .toggle:after{
    content:'';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
  }


  header,
  header.sticky{
    padding: 5px 50px;
    background: #001d44;
  }

  header ul{
    position: absolute;
    top:140px;
    right:0;
    width: 70%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    visibility: hidden;
    background: #001d44;
    opacity: 0;
  }

  header.active ul{
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }
  header.active ul li a{
    display: inline-block;
    margin:20px 0;
    font-size: 25px;
  }
  ul li a:hover{
    transform: scale(1.05);
  color: #efd808;
  }

  .imagen1{
    position:relative;
  }
  .imagen2{
    position:relative;

  }
}
